.servicesSection {
  margin-top: 100px;
}

.serviesSectionTitle {
  font-family: "Times New Roman", Times, serif;
  font-weight: 500;
  text-align: center;
  font-size: 1.2rem;
  color: darkblue;
}

.servicesSectionIntro {
  width: 50%;
  margin: 20px auto;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 2.2rem;
  font-weight: 700;
  text-align: center;
  color: black;
}

.service-card {
  width: 380px;
  height: 400px;
  border: 1px solid #ddd;
  border-radius: 8px;
  overflow: hidden;
  margin-bottom: 50px;
}

.service-card img {
  width: 100%;
  height: 60%;
  object-fit: cover;
  object-position: center;
}

.service-title {
  margin-top: 10px;
  color: #242424;
  font-family: "Times New Roman", Times, serif;
  font-size: 1.5rem;
  font-weight: 600;
  text-transform: capitalize;
  margin: 0 8px;
}

.service-description {
  margin-bottom: 15px;
  color: #5d5d5d;
  font-size: 1rem;
  line-height: 25px;
  margin: 15px 0px 10px;
  font-weight: 400;
  margin: 0 8px;
}

/* Services Pages css*/

.servicesList {
  width: 90%;
  columns: 3 auto;
  margin: 60px auto;
}
