.servicesSection {
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.serviesSectionTitle {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 700;
  text-align: center;
  font-size: 2.5rem;
  color: #000000;
  margin-bottom: 2px;
}

.servicesSectionIntro {
  width: 90%;
  max-width: 600px;
  margin: 20px auto;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.9rem;
  font-weight: 700;
  text-align: center;
  color: black;
}

.service-card {
  width: 100%;
  max-width: 500px;
  height: 450px;
  border: 1px solid #ddd;
  border-radius: 8px;
  margin-bottom: 50px;
}

.service-card img {
  width: 100%;
  height: 60%;
  object-fit: cover;
  object-position: center;
}

.service-title {
  margin-top: 10px;
  color: #242424;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.4rem;
  font-weight: 600;
  text-transform: capitalize;
  margin: 10px 8px;
}

.service-description {
  margin-bottom: 15px;
  color: #5d5d5d;
  font-size: 1rem;
  line-height: 25px;
  margin: 15px 0px 10px;
  font-weight: 400;
  margin: 0 8px;
}

.servicesList {
  width: 90%;
  margin: 20px auto;
  columns: 3 auto;
}

@media only screen and (max-width: 908px) {
  .servicesList {
    columns: 2 auto;
  }

  .servicesSectionIntro {
    width: 90%;
    max-width: 600px;
    margin: 20px auto;
    font-size: 1.5rem;
  }
}

@media only screen and (max-width: 760px) {
  .servicesList {
    columns: 1 auto; /* Adjust to 1 column on even smaller screens */
  }
}
