.companyStructure {
  width: 60%;
  margin: 30px auto;
}

.companyStructureTitle {
  margin-top: 30px;
  color: #242424;
  font-family: "Times New Roman", Times, serif;
  font-size: 1.5rem;
  font-weight: 600;
}

.companyStructureDescription {
  color: #5d5d5d;
  font-size: 1rem;
  line-height: 25px;
  margin: 15px 0px 10px;
  font-weight: 400;
}

.companyStructureImg {
  max-width: 90%;
  margin-top: 20px;
  text-align: center;
}

figure{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

figcaption {
  margin: 30px 0 8px 0;
  color: #242424;
  font-family: "Times New Roman", Times, serif;
  font-size: 1.5rem;
  font-weight: 600;
  text-align: center;
}

@media only screen and (max-width:768px){
  .companyStructure {
  width: 90%;}

.companyStructureTitle {
  font-size: 1.3rem;
}
figcaption {
  font-size: 1.3rem;
}
}